<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>EmberGlow LLC</string>
	<key>Builder Version</key>
	<string>13604.3.5</string>
	<key>CFBundleDisplayName</key>
	<string>GimmieRandom</string>
	<key>CFBundleIdentifier</key>
	<string>com.emberglowllc.gimmierandom</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>reddit</string>
				<key>Identifier</key>
				<string>reddit</string>
				<key>Image</key>
				<string>reddit.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Reddit</string>
				<key>Tool Tip</key>
				<string>Opens a random Reddit page</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>wikipedia</string>
				<key>Identifier</key>
				<string>wikipedia</string>
				<key>Image</key>
				<string>wikipedia.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Wikipedia</string>
				<key>Tool Tip</key>
				<string>Opens a random Wikipedia page</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>shortcut-listeners.js</string>
			</array>
		</dict>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>55RL4JW6Y9</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.emberglowllc.com</string>
</dict>
</plist>
